<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Pokédex | Cadastro</title>
</head>
<body>
  <div class="container">
    <div class="inputs">
      <input placeholder="Digite o número" />
      <input placeholder="Que nome quer chama-lo?" />
      <input placeholder="Qual o tipo?" />
      <input placeholder="Coloque aqui o link da imagem" />
      <input placeholder="Faça uma descrição do pokémon cadastrado" />
      <input placeholder="Sua altura é..." />
      <input placeholder="Seu pseo é..." />
      <input placeholder="Qual a categoria a que pertence?" />
      <input placeholder="Qual a habilidade que o pokémon possui?" />
      <button>Cadastrar</button>
    </div>
  </div>
  
</body>
</html>