<%- include('header'); %>
<body>
  <h2>Crie sua Pokedex</h2>
  <form action="/sent" method="POST">
    
    <div class="container">
        <% attributes.forEach( item => { %>
          
            <input class="inputs" placeholder=<%= item.placeholder %> 
            name=<%= item.name %> required /> <% 
          }) %>
      
      <button id="submitButton" type="submit">Cadastrar</button>
    </div>
  </form>
  <script src="/js/script.js"></script>
</body>
