<%- include('header'); %>
<body>
  <h2>Crie sua Pokedex</h2>
  <form action="/sent" method="POST">
    
    <div class="container">
        <input class="inputs" placeholder="Digite o número" name="number" />
        <input class="inputs" placeholder="Que nome quer chama-lo?" name="name" required/>
        <input class="inputs" placeholder="Qual o tipo?" name="type" required/>
        <input class="inputs" placeholder="Coloque aqui o link da imagem" name="image" required/>
        <input class="inputs" placeholder="Escreva uma descrição" name="description" />
        <input class="inputs" placeholder="Qual é a altura?" name="height" />
        <input class="inputs" placeholder="Qual é o peso?" name="weight" />
        <input class="inputs" placeholder="Qual a categoria a que pertence?" name="category" />
        <input class="inputs" placeholder="Qual a habilidade que o pokémon possui?" name="abilities" />
      <button id="submitButton" type="submit">Cadastrar</button>
    </div>
  </form>
  <script src="/js/script.js"></script>
</body>
