<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Pokédex</title>
</head>
<body>
  <footer class="footer">
    <span>
      Criado por Cristina T. Iwassaki. Redes sociais: 
        <a target=_blank href="https://github.com/c-Tos1wa">Github</a> e
        <a target=_blank href="https://www.linkedin.com/in/cristina-iwassaki/">Linkedin</a>
    </span>
  </footer>
</body>
</html>