*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  text-decoration: none;
  list-style-type: none;
}

h2{
  text-align: center;
  font-weight: 100;
  margin: 0.2em 0 0.5em 0;
  font-size: 3em;
}


.header{
  background-color: #ff7d00;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.navbar{
  background-color: #001524;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 4px;
}

.navbar a{
  color: #ffba08;
  font-size: 2em;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em;
  margin: 10px;
}

.eachCard{
  border: 1px solid rgb(122, 122, 122);
  background-color: #F5FFFA;
  border-radius: 5px;
  padding: 1.5em 0 1em 0;
  height: 100%;
  width: auto;
}

.eachCard p{
  font-size: 1.5em;
}

.card-item{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 10px;
  margin-bottom: 20px;
}

.inputs{
  font-size: 18px;
  padding: 10px;
  display: block;
  width: 50%;
  border-radius: 5px;
} 

#submitButton {
  font-size: 1.5em;
  padding: 5px;
  border-color: #870064;
  background-color: #fff;
  color: #870064;
  border-radius: 5px; 
}

#submitButton:hover{
  background-color: #870064;
  color: #fff;
  box-shadow: 20px 20px 10px #6e6961;

}

.footer{
  text-align: center;
  font-size: 1rem;
  margin: 5px;
}

.footer a{
  font-weight: bold;
  color: #000;
}

@media (max-width: 900px) {
  .card{
    display: flex;
    flex-direction: column;
    padding: 1px 1px -10px 0;
  }

  
}

