*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  text-decoration: none;
  list-style-type: none;
}



.header{
  background-color: #ff7d00;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.navbar{
  background-color: #001524;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin-bottom: 4px;
}

.navbar a{
  color: #ffba08;
  font-size: 2em;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.card-item{
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}

.container{
  font-size: 1.5em;
}

.inputs{
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
}


